<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>懒人客服</title>
  <script defer src="https://anl.wizgadg.top/script.js" data-website-id="eb4d2b94-6054-454d-8369-d4f443f75a99"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>